apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app-deploy
  labels:
    app: node-app
spec:
  replicas: 5
  strategy:
    canary:
      steps:
      - setWeight: 20
      - pause: {}
      - setWeight: 40
      - pause: {duration: 10}
      - setWeight: 60
      - pause: {duration: 10}
      - setWeight: 80
      - pause: {duration: 10}
  selector:
    matchLabels:
      app: node-app
  template:
    metadata:
      labels:
        app: node-app
    spec:
      containers:
      - name: node-app-container
        # Your custom Node.js image
        image: docker.io/yvmr/nap1:latest 
        ports:
        - containerPort: 3000 
